@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}


/* mobile friendly alternative to using background-attachment: fixed */

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#title {
    margin-top: 40px;
    font-size: 30px;
}

form {
    background-color: #1b1b32;
    color: white;
    margin: 30px 200px;
    padding: 60px;
}

.form-group {
    padding: 20px;
    font-size: 20px;
}

.form-check {
    padding: 5px;
}

#submit {
    width: 100%;
    background-color: #37af65;
    margin-top: 25px;
}